<<<<<<< HEAD
.pin {
  animation-name: pin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
  width: 60px;
  height: 60px;
  border-radius: 50% 50% 50% 0;
  background: #1B93AE;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
}

.pin:after {
  content: '';
  width: 28px;
  height: 28px;
  margin: 16px 0 0 16px;
  background: #ffe388;
  position: absolute;
  border-radius: 50%;
}

.pulse {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: 28px;
  width: 28px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 22px 0 0 -24px;
  transform: rotateX(55deg);
  z-index: -2;
}

.pulse:after {
  content: "";
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
  margin: -26px 0 0 -26px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 4px #1B93AE;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px) rotate(-45deg);
  }
  20% {
    transform: translateY(-20px) rotate(-45deg);
  }
  40% {
    transform: translateY(-10px) rotate(-45deg);
  }
  60% {
    transform: translateY(-5px) rotate(-45deg);
  }
  80% {
    transform: translateY(-2px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

@keyframes pin {
  0% {
    top: 40%;
    bottom: 100px;
  }
  20% {
    top: 45%;
    bottom: 80px;
  }
  40% {
    top: 50%;
    bottom: 70px;
  }
  60% {
    top: 47.5%;
    bottom: 65px;
  }
  80% {
    top: 45%;
    bottom: 62.5px;
  }
  100% {
    top: 45%;
    bottom: 60px;
  }
}
=======
.pin {
  animation-name: pin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
  width: 60px;
  height: 60px;
  border-radius: 50% 50% 50% 0;
  background: #1B93AE;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
}

.pin:after {
  content: '';
  width: 28px;
  height: 28px;
  margin: 16px 0 0 16px;
  background: #ffe388;
  position: absolute;
  border-radius: 50%;
}

.pulse {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: 28px;
  width: 28px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 22px 0 0 -24px;
  transform: rotateX(55deg);
  z-index: -2;
}

.pulse:after {
  content: "";
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
  margin: -26px 0 0 -26px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 4px #1B93AE;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px) rotate(-45deg);
  }
  20% {
    transform: translateY(-20px) rotate(-45deg);
  }
  40% {
    transform: translateY(-10px) rotate(-45deg);
  }
  60% {
    transform: translateY(-5px) rotate(-45deg);
  }
  80% {
    transform: translateY(-2px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

@keyframes pin {
  0% {
    top: 40%;
    bottom: 100px;
  }
  20% {
    top: 45%;
    bottom: 80px;
  }
  40% {
    top: 50%;
    bottom: 70px;
  }
  60% {
    top: 47.5%;
    bottom: 65px;
  }
  80% {
    top: 45%;
    bottom: 62.5px;
  }
  100% {
    top: 45%;
    bottom: 60px;
  }
}
>>>>>>> eed56797913f314bb7114a6be0fa386771dfed4f
