.pictureBlogPost{
    height: 200px;
    width: 300px;
}
.Header{
    text-align: center;
    color: #1B93AE;
    font-size: 40px;

}

.Body::before{
  content: "";
  position: absolute;
  /* background-color: #00C4F0; */
  background-color: #29ADBE;
  height: 100%;
  margin-top: -2%;
  padding-bottom: 5%;
  width: 100%;
  top:0;
  bottom: 0;
  opacity: 0.2; /* Adjust the opacity value as desired */
  z-index: -1;
}

.Body{
  position: relative;
}

.carousel-track{
  margin-top: 2% ;
  transition: transform 2s ease-in-out; /* Add transition property */
}
/* {
    background-color: #29ADBE;
    opacity: 20%;
} */

.dots1{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color:   #D9D9D9;
    margin: 20px;
    cursor: pointer;
}
.dots2{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color:   #00C4F0;
    margin: 20px;
    margin-left: 2px !important;
    cursor: pointer;
}
.blogPost{
    height: 530px;
    width: 300px;
    background-color: white;
    box-shadow: 2px 2px 10px grey;

    margin: 10px;
    position: relative;
}
.categoryBlogPost{
    color: #283380;
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin: 10px 20px;
    /* border-radius: 15px;
    text-align: center;
    padding: 4px;
    width: 50%;margin-left: 25%;
    margin-top: 10px;
    margin-bottom:10px; */
    text-transform: uppercase;

}
.titleBlogPost{
    text-align: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #283380;
    font-weight: 700;
    display: block;
    margin: 20px;
    text-decoration: none;
    text-align: left;
}
.container{
    display: flex;
   
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.contentBlogPost{
    color: #283380;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 20px;
}

.btnreadmoreBP{
    bottom: 3%;
    background-color: rgb(230 230 245);
    color: #283380;
    border: 1px solid #283380 !important;
    display: block;
    font-size: 10px;
    font-weight: 700;
    margin-left: 1%;
    padding: 5px;
    text-align: center;
    width: 100px;
    cursor: pointer;
    position:absolute;
}
.btnreadmoreBP:hover{
    background-color: #283380 !important;
    color: #FFF !important;
    transition: 0.5s ease;
}

.main{
    display: flex;
   
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.carousel-track{
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container {
    position: relative;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: none;
  }
  
  .carousel-slide:first-child {
    display: block;
  }

  .carousel-dots {
    text-align: center;
    margin-top: 10px;
  }
  
  .carousel-dots .dot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color:   #D9D9D9;
    margin: 20px;
    cursor: pointer;
    margin: 0 5px;
    cursor: pointer;
    box-shadow: 2px 2px grey;
  }
  
  .carousel-dots .dot.active {
    background-color:   #00C4F0;
    
  }
  
/* 
  blogpage css */

.topBlueBlock{
  width: 100%;
  height: 40vh; /* Adjust the height as needed */
  background-color: #49A9BE;
  position: absolute;
}

.pageBlock{ 
  width: 60%;
  /* height: 80vh; Adjust the height as needed */
  background-color: white;
  position:absolute;
  left: 20%;
  margin-top: 10%;  
}
.categoryBlock{
  position: absolute;
  margin-top: 2%;
  left: 20%;
  width: 60%;
  z-index: 2;
  font-size: 20px;
}
.titleBlock{
  position: absolute;
  margin-top: 4%;
  left: 20%;
  width: 60%;
  z-index: 2;
  font-size: 50px;
  
}

.containerBlogPage{
  position: relative;
}

.contentBlock{
  padding: 5%;
  font-size: 25px;
  white-space: pre-line;  
  vertical-align: bottom;
}

@media only screen and (max-width: 1472px)  {
  .titleBlock{
    margin-top: 6%;
    font-size: 20px;
    font-weight: 1000;
  }
  .contentBlock{
    font-size: 20px;
  }

}

  @media only screen and (max-width: 720px)   {
    .titleBlock{
      margin-top: 7%;
      font-size: 12px;
      font-weight: 1000;
    }}

.footerBlock{
  bottom: 0;
  height: 10vh;
  width: 100%;
  position: absolute;
}